APP_ENV=
APP_MODE=

#WHATSAPP
WHATSAPP_API_TOKEN=
WHATSAPP_NUMBER_ID=
WHATSAPP_HOOK_TOKEN=
WHATSAPP_VERIFY_TOKEN=

#DATABASE
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

#AWS
S3_BUCKET_DEV=

#OPENAI
OPENAI_API_KEY=
TEMPERATURE=
USE_AZURE=
FAST_LLM_MODEL=

### LLM MODEL SETTINGS
## FAST_TOKEN_LIMIT - Fast token limit for OpenAI (Default: 4000)
## SMART_TOKEN_LIMIT - Smart token limit for OpenAI (Default: 8000)
FAST_TOKEN_LIMIT=
SMART_TOKEN_LIMIT=

#SERPAPI
SERPAPI_API_KEY=

### MEMORY_BACKEND - Memory backend type
## MEMORY_INDEX - Name of index created in Memory backend (Default: auto-gpt)
MEMORY_BACKEND=
MEMORY_INDEX=

#PINECONE
PINECONE_API_KEY=
PINECONE_ENV=
PINECONE_MEMORY_INDEX=

#Hugginface
HUGGINGFACE_AUDIO_TO_TEXT_MODEL=
EXECUTE_LOCAL_COMMANDS=

#AGENT CONFIG
ai_name=
ai_role=
ai_goals=
